body {
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  background-color: #23d5aba4;
}

.dropBar {
  display: none;
}

.dropBar.visible {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45rem;
  width: 60rem;
}

.pic {
  display: none;
}

.pic.visible {
  display: block;
}

.pic img {
  max-height: 45rem;
  max-width: 60rem;
}

.nav.visible {
  background-color: #ee7752;
}

.sidebar > * {
  list-style-type: none;
}

.sidebar > ul {
  border: 0.1rem #ee7752 solid;
}

.sidebar button {
  border: none;
  background-color: #ee7752;
  border-radius: 0;
  width: 12vw;
  margin: 0 0 1rem -1rem;
  font-size: 1.3rem;
  text-align: left;
}

.sidebar button:hover {
  color: white;
  background-color: #e99e87;
}

button:active {
  background-color: #e2dad6;
  border: 0.1rem solid #6482ad;
  color: #6482ad;
  transform: translateY(0.02rem);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee7652d8;
  height: 10vh;
}

button {
  border: #1f2937 0.1rem solid;
  border-radius: 2rem;
  background-color: rgb(247, 252, 255);
  color: black;
  align-self: center;
}

button:hover {
  background-color: transparent;
}

.mainContainer {
  flex-grow: 1;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./media/bagel.png");
}

.navContainer {
  margin-top: 0.5rem;
}

.nav {
  margin: 0 0.14rem;
  height: 1rem;
  width: 1rem;
  border: none;
}
